*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
}

#input{
    height: 38px;
    width: 230px;
    border-radius: 10px;
}

button{
    height: 33px;
    width: 100px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    transition: all 0.5s;
    border-radius: 10px;
    &:hover{
        background-color: rgb(4, 107, 107);
    }
}